pre { font-family: fixedsys, monospace, courier } /* set the pre face */
body, td { font-family: fixedsys, monospace, courier; color: #AF7C04; background: #4E3702; }
p { text-decoration: underline; }
a { text-decoration: none; }
a:link { color: #AF9971; }
a:visited { color: #AF9971; }
a:hover { color: #E0C490; }

