pre { font-family: fixedsys, monospace, courier } /* set the pre face */
body, td { font-family: fixedsys, monospace, courier; color: #C52B01; background: #621A02; }
p { text-decoration: underline; }
a { text-decoration: none; }
a:link { color: #C58B05; }
a:visited { color: #C58B05; }
a:hover { color: #FFB406; }

